* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 235, 235);
}

h1 {
  text-align: center;
}

li {
  list-style-type: none;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  border-top: 0.1rem solid rgb(214, 212, 212);
}

.container-general {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-list {
  margin: 1rem 2rem;
  width: 50%;
  background-color: #fff;
}

.task-input,
.delete-task,
.title-container {
  width: 100%;
  padding: 0.5rem;
}

.dots,
.fa-trash-can {
  margin-left: auto;
  padding: 0.1rem 0.6rem;
}

.today-task {
  width: 85%;
  padding: 0.2rem;
}

.fa-square,
.fa-trash-can,
.fa-square-check {
  margin-right: 0.3rem;
}

input {
  border: none;
}

.lineThrough {
  text-decoration: line-through;
  color: #ccc;
}
